{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

    {% for row in rows %}
      {%
        set row_classes = [
          default_row_class ? 'views-row',
        ]
      %}
        {% if loop.first %}
          <div{{ row.attributes.addClass(row_classes, 'col-lg-12 first d-flex mb-4') }}>
            {{- row.content -}}
          </div>
          </div>
        <div class="row" >
        {% else %}
          <div{{ row.attributes.addClass(row_classes, 'col-lg-3 d-flex') }}>
            <div class="d-flex-column align-items-stretch flex-fill">
              {{- row.content -}}
            </div>
            
          </div>
      {% endif %}
    {% endfor %}
