{#
/**
 * @file
 * Bootstrap Layouts: "1 Column (stacked)" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - main
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {% if top.content %}
  <{{ top.wrapper }}{{ top.attributes }}>
  
   <div class="row">
   {% if top.content.body[0] is not empty %}
      <div class="col-sm-3">
          <div class="img-circle center-block">
            {{ top.content.field_leader_image }}
          </div>
       
        </div>
     
      <div class="col-offset-sm-3 col-sm-6">
        {{ top.content.body }}
        <br />
        {{ top.content.field_locations }}
        {{ top.content.field_phone }}
      </div>
    {% else %}
      <div class="col-sm-12">
        <div class="img-circle center-block">
          {{ top.content.field_leader_image }}
          <br />
          {{ top.content.field_locations }}
          {{ top.content.field_phone }}
        </div>
      
    
      </div>
    {% endif %}
   </div>
   {{ top.content|without('field_leader_image', 'body', 'field_leader_email','field_locations','field_phone') }}
   
   <!-- Email should only show if the member is part of the speakers bureau -->
  </{{ top.wrapper }}>
  {% endif %}

  {% if main.content %}
  <{{ main.wrapper }}{{ main.attributes }}>
   {{ main.content|without("field_speaker_bureau","field_role_detailed", "field_member_awards") }}
   

<div>
    {% if (main.content.field_speaker_bureau[0] is not empty) %}
      {% set speaker = "active in" %}
    {% else %}
      {% set leader = "active in" %}
    {% endif %}
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% if main.content.field_speaker_bureau[0] is not empty %}
      <li role="presentation" class="{{ speaker }}"><a href="#speaker" aria-controls="speaker" role="tab" data-toggle="tab">Speaker Bureau</a></li>
    {% endif %}
    {% if main.content.field_role_detailed[0] is not empty %}
      <li role="presentation" class="{{ leader }}"><a href="#leadership" aria-controls="leadership" role="tab" data-toggle="tab">Leadership</a></li>
    {% endif %}
    {% if main.content.field_member_awards[0] is not empty %}
      <li role="presentation"><a href="#award" aria-controls="award" role="tab" data-toggle="tab">Awards</a></li>
    {% endif %}
  
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade {{ speaker }}" id="speaker">{{ main.content.field_speaker_bureau }}

     <h3>Request Speaker</h3>
     <div class="well">
      <p>Please note: District 96 is only offering a list of speakers available to do presentations.</p>
      <p>District 96 is does not take any responsility for either the requesting club or the prestentor.</p>
     </div>
     <p>To request this speaker, please click the email link below. Be sure to include as much detail as possible, including:</p>
     <ul>
      <li>The date of the event</li>
      <li>The topic</li>
      <li>The location</li>
      <li>Any information about the event</li>
     </ul>
     {{ top.content.field_leader_email }}
    </div>
    <div role="tabpanel" class="tab-pane fade {{ leader }}" id="leadership">{{ main.content.field_role_detailed }}</div>
    <div role="tabpanel" class="tab-pane fade" id="award">{{ main.content.field_member_awards }}</div>
    
  </div>

</div>
</{{ main.wrapper }}>

  {% endif %}

  {% if bottom.content %}
  <{{ bottom.wrapper }}{{ bottom.attributes }}>
    {{ bottom.content }}
  </{{ bottom.wrapper }}>
  {% endif %}

</{{ wrapper }}>
