{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */content.field_block_bg_color_faded|clean_class
#}
{% set faded = content.field_block_bg_color_faded|render|striptags|trim|lower %}
{% set theme = content.field_theme|render|striptags|trim|lower %}
{% set background = content.field_block_background_color|render|striptags|trim|lower %}
{% set backgroundImg = content.field_block_background_image|render|striptags|trim|lower %}
{% set fullWidth = content.field_block_full_width_text|render|striptags|trim|lower %}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    background,
    faded,
    theme,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if backgroundImg != "" %}
    <div class="background-w-image" style="background:url({{backgroundImg}}); background-size: cover;background-position: top center">  </div>
  {% endif %}
 
    {% if fullWidth == "yes" %}
      <div class="container">
    {% endif %}
        <div class="p-5">
          {{ title_prefix }}
          {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
          {% endif %}
          {{ title_suffix }}
          {% block content %}
              {{ content|without("field_block_bg_color_faded","field_block_background_image","field_block_background_color","field_block_full_width_text","field_theme") }}
          {% endblock %}
        </div>
      {% if fullWidth == "yes" %}
      </div>
    {% endif %}

</div>
