{#
/**
 * @file
 * Default theme implementation to display a formatted imagefield slideshow field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
{% set prev = random() %}
{% set next = random() %}
<div class="imagefield_slideshow-wrapper">
    <div class="cycle-slideshow"
         data-cycle-pause-on-hover='{{ pause }}'
         data-cycle-fx="{{ effect }}"
         data-cycle-speed="{{ speed }}"
         data-cycle-timeout="{{ timeout }}"
         data-cycle-prev="#imagefield_slideshow-prev-{{ prev }}"
         data-cycle-next="#imagefield_slideshow-next-{{ next }}"
         data-cycle-loader="wait">
        {% if pager %}
            <div class="cycle-pager"></div>
        {% endif %}
        {% for key,value in url %}
            <img title="{{ value.title }}" alt="{{ value.alt }}" src="{{ value.uri }}" />
        {% endfor %}
    </div>
    {% if prev_next %}
        <div class="prev-next">
            <a href=# id="imagefield_slideshow-prev-{{ prev }}">Prev</a>
            <a href=# id="imagefield_slideshow-next-{{ next }}">Next</a>
        </div>
    {% endif %}
</div>
